<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>teste</title>

</head>
<body>
  
<label>Educação Física
  <input type="checkbox" class="filtro" id="cb-edu" value="Educação Física" />
</label>
<label>lalalla
  <input type="checkbox" class="filtro" id="cb-lala" value="lalala" />
</label>

<div id="sadCow" ></div>


<ul id="lista"></ul>



<script type="module" src="teste.js"></script>  

  <style>

    img{
      width: 50px;
    }
  </style>
</body>
</html>